@main("Sistema de Controle de Metas"){
<style>
body {
	padding-top: 50px;
	}
	.starter-template {
	padding: 40px 15px;
	text-align: center;
	}
	</style>
	
      
	 <center>	
	  
	 	<img class="centralizar" src="@routes.Assets.at("images/logo.jpg")" />
     	<h1><b>Sistema de Controle de Metas</b></h1>
     	<h3>Com metas voc&ecirc; vai mais longe! <br> <br> Aproveite! Programe-se! Alcance seus objetivos! </h3>
     	<br><p><a class="btn btn-lg btn-success" href="/sistema">Iniciar!</a></p>
     
     </center> 
}