@(metas: List[Meta])(metaForm: Form[Meta])


<!DOCTYPE html>
<html>
	<head>
		<title>Sistema de Controle de Metas</title>
		<link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link rel="stylesheet" media="screen"
		href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png"
		href="@routes.Assets.at("images/favicon.png")">
		<script
		src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"
		type="text/javascript">
		</script>
		
	</head>
	<body>		
		<center><h1><b>Sistema de Controle de Metas</b></h1></center>
		<div class="masthead">
       
        <ul class="nav nav-pills">
          <li class="active"><a href="index.html">Sistema</a></li>
          <li><a href="MUDAR">Ordenar por Semana</a></li>
          <li><a href="MUDAR">Ordenar por Prioridade</a></li>
        </ul>
        
        <br> <br>
        <form action="@routes.Application.newMeta()" method="post">
		<div class="container form-horizontal panel panel-primary text-info" >
			<h2>Adicionar nova meta:</h2>
			
            <input class="input-xxlarge" type="text" size="90" maxlength="80" placeholder="Escreva aqui uma meta a ser realizada" name="descricao">
            <select name="semana">
        		<option value="SEMANA1">Semana 1</option>
       			<option value="SEMANA2">Semana 2</option>
        		<option value="SEMANA3">Semana 3</option>
       			<option value="SEMANA4">Semana 4</option>
        		<option value="SEMANA5">Semana 5</option>
        		<option value="SEMANA6">Semana 6</option>
       		 </select>
       		 <select name="prioridade">
        		<option value="ALTA">Prioridade ALTA</option>
       			<option value="MEDIA">Prioridade MEDIA</option>
        		<option value="BAIXA">Prioridade BAIXA</option>
       			
       		 </select>
       		
       		<input type="submit" class="btn btn-primary" value="Inserir">  </div>
             </form>
              
            </div>
                  
           
                   
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Descri&ccedil;&atilde;o da Meta </th>
                            <th>Semana </th>
                            <th>Prioridade </th>
                            <th>A&ccedil;&otilde;es </th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(meta <- metas) {
                        <tr>
                            <td>@meta.getDescricao()</td>
                            <td>@meta.getSemana()</td>
                            <td>@meta.getEstado()</td>
                            <td>
                            <form action="MUDARAKI" method="post"> 
                                <input type="submit" class="btn btn-danger" value="Apagar">
                            </form> 
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
           
		
	</body>
</html>