@main("Sistema de Controle de Metas"){
<style>
body {
	padding-top: 50px;
	}
	.starter-template {
	padding: 40px 15px;
	text-align: center;
	}
	</style>
	
	 <center><img class="centralizar " src="logo.jpg" /> 
    

      <div class="masthead">
        
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="index.html">In&iacute;cio</a></li>
          <li ><a href="/play">Adicionar nova Meta</a></li>
          <li><a href="/sobre">Sobre</a></li>
        </ul>
        <h3 class="muted">Sistema de Controle de Metas</h3>
      </div>
		</center>
	
		<!-- <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle"
				data-toggle="collapse" data-target=".navbar-collapse">
		</button>
		<a class="navbar-brand" href="/">In&iacute;cio</a>
		</div>
		
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
			
					<li><a href="/sobre">Adicionar nova meta</a></li>
					<li><a href="/play">Sobre o Play Framework</a></li>
					<li><a href="http://getbootstrap.com/">Sobre o Bootstrap</a>
					</li>
				
			</ul>
			</div>
		
		</div>
		</div> -->
		<div class="container">
		<div class="starter-template">
		<h1>Com metas voc&ecirc; vai mais longe!</h1>
		<p class="lead">Aproveite! Programe-se! Alcance seus objetivos! </p>
		</div>
		</div>
}