@(sistema: Sistema, metas: List[Meta])


<div class="container form-horizontal panel panel-primary text-info" >
            <h4>Voc&ecirc; possui @sistema.numDeMetasNaSemana("SEMANA1") metas(s) na Semana 1, sendo @sistema.numDeMetasAlcancadasNaSemana("SEMANA1") alcan&ccedil;adas e @sistema.numDeMetasASerAlcancadasNaSemana("SEMANA1") a serem alcan&ccedil;adas</h4>
            <h4>Voc&ecirc; possui @sistema.numDeMetasNaSemana("SEMANA2") metas(s) na Semana 2, sendo @sistema.numDeMetasAlcancadasNaSemana("SEMANA2") alcan&ccedil;adas e @sistema.numDeMetasASerAlcancadasNaSemana("SEMANA2") a serem alcan&ccedil;adas</h4>
            <h4>Voc&ecirc; possui @sistema.numDeMetasNaSemana("SEMANA3") metas(s) na Semana 3, sendo @sistema.numDeMetasAlcancadasNaSemana("SEMANA3") alcan&ccedil;adas e @sistema.numDeMetasASerAlcancadasNaSemana("SEMANA3") a serem alcan&ccedil;adas</h4>
            <h4>Voc&ecirc; possui @sistema.numDeMetasNaSemana("SEMANA4") metas(s) na Semana 4, sendo @sistema.numDeMetasAlcancadasNaSemana("SEMANA4") alcan&ccedil;adas e @sistema.numDeMetasASerAlcancadasNaSemana("SEMANA4") a serem alcan&ccedil;adas</h4>
            <h4>Voc&ecirc; possui @sistema.numDeMetasNaSemana("SEMANA5") metas(s) na Semana 5, sendo @sistema.numDeMetasAlcancadasNaSemana("SEMANA5") alcan&ccedil;adas e @sistema.numDeMetasASerAlcancadasNaSemana("SEMANA5") a serem alcan&ccedil;adas</h4>
            <h4>Voc&ecirc; possui @sistema.numDeMetasNaSemana("SEMANA6") metas(s) na Semana 6, sendo @sistema.numDeMetasAlcancadasNaSemana("SEMANA6") alcan&ccedil;adas e @sistema.numDeMetasASerAlcancadasNaSemana("SEMANA6") a serem alcan&ccedil;adas</h4>
</div>

<div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Descri&ccedil;&atilde;o da Meta </th>
                            <th>Semana </th>
                            <th>Prioridade </th>
                             <th>Estado </th>
                            <th>A&ccedil;&otilde;es </th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(meta <- metas) {
                    	
                        <tr>
                            <td>@meta.getDescricao()</td>
                            <td>@meta.getSemana()</td>
                            <td>@meta.getPrioridade()</td>
                            <td>@meta.getEstado()</td>
                            <td>
                            <form action="@routes.Application.deleteMeta(meta.getId())" method="post"> 
                                <input type="submit" class="btn btn-danger" value="Apagar">
                            </form> 
                            
                            <form action="MUDARAKI" method="post"> 
                                <input type="submit" class="btn btn-primary" value="Realizei">
                            </form> 
                            </td>
                        </tr>
                        
                    }
                    </tbody>
                </table>
            </div>


 
 